extends layout

block content
  a.w3-button.w3-blue.w3-round-large.w3-hover-shadow.w3-margin-right(href=`/files?path=${path.split('/').slice(0, -1).join('/')}`) &#8592;

  a.w3-button.w3-green.w3-round-large.w3-large.w3-margin-right.w3-hover-shadow(onclick="addFicheiro()") Adicionar Novo Ficheiro

  .w3-container.w3-padding-16
    table.w3-table.w3-bordered.w3-striped.w3-hoverable.w3-white.w3-card-4
      thead.w3-light-grey
        tr
          th Nome
          th Ação
      tbody
        each file in files
          tr
            td= file.name
            td
              if file.isDirectory
                a.w3-button.w3-green.w3-round-large.w3-hover-shadow(href=`/files?path=${path}/${file.name}`) Abrir
              else
                a.w3-button.w3-blue.w3-round-large.w3-hover-shadow.w3-margin-right(href=`/files/download?path=${username}/${path}/${file.name}`) Download
                a.w3-button.w3-red.w3-round-large.w3-hover-shadow(onclick=`deleteFile('${path}','${file.name}')`) Apagar

  style.
    .header-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-container a {
      margin-right: 20px;
    }

    .header-container h1 {
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

  script.
    const path = !{JSON.stringify(path)};
  
    function addFicheiro() {
      const modal = document.createElement('div');
      modal.setAttribute('id', 'addFileModal');
      modal.classList.add('w3-modal');
      modal.innerHTML = `
        <div class="w3-modal-content w3-animate-opacity w3-card-4">
          <header class="w3-container w3-teal"> 
            <span onclick="document.getElementById('addFileModal').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2>Adicionar Novo Ficheiro</h2>
          </header>
          <div class="w3-container">
            <form method="POST" action="/files/upload" enctype="multipart/form-data" class="w3-container">
              <p>
                <input type="file" name="file" class="w3-input w3-border w3-margin-bottom" required>
              </p>
              <input type="hidden" name="path" value="${path}">
              <p>
                <button type="submit" class="w3-button w3-green w3-round-large w3-hover-shadow">Enviar</button>
              </p>
            </form>
          </div>
        </div>
      `;
      document.body.appendChild(modal);
      document.getElementById('addFileModal').style.display = 'block';
    }

    function deleteFile(path, fileName) {
      if (confirm('Tem a certeza que deseja apagar este ficheiro?')) {
        var filePath = path ? `${path}/${fileName}` : fileName;
        fetch(`/files/delete?path=${filePath}`, {
          method: 'GET'
        })
        .then(() => {
          window.location.reload();
        })
        .catch(err => {
          console.error(err);
        });
      }
    }