extends layout

block content
  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Docentes
    .w3-row-padding.w3-center
      .w3-center.w3-padding-small(style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;")
        each docente in uc.docentes
          .w3-card-4.w3-margin.w3-padding.w3-light-grey.w3-hover-shadow(style="flex: 1 1 600px; max-width: 600px; margin: 10px; height: fit-content")
            .w3-container.w3-center
              img(src=`/images/docentes/${docente._id}.${docente.fotoExt}`, alt=docente.nome, class="w3-circle w3-margin-bottom", style="width:80px")
              p
                strong #{docente.nome}
              p
                | #{docente.categoria} - #{docente.filiacao}
              p
                | Email: 
                a(href=`mailto:${docente.email}`)= docente.email
              if docente.webpage
                p
                  a(href=docente.webpage, target="_blank") Webpage

  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Horário
    .w3-row-padding
        .w3-card-4.w3-white.w3-hover-shadow.w3-container.w3-padding
            table.w3-table-all.w3-centered
                thead
                    tr.w3-blue
                        th(style="width: 14%") Início-Fim
                        th(style="width: 14%") Segunda
                        th(style="width: 14%") Terça
                        th(style="width: 14%") Quarta
                        th(style="width: 14%") Quinta
                        th(style="width: 14%") Sexta
                tbody
                    each hora in ['08:00-10:00', '10:00-12:00', '12:00-14:00', '14:00-16:00', '16:00-18:00']
                        tr
                            td(style="width: 120px") #{hora}
                            each dia in ['segunda', 'terça', 'quarta', 'quinta', 'sexta']
                                - var aulas = uc.horarios[dia] || [];
                                td(style="width: 120px")
                                    each aula in aulas
                                        if aula.horario === hora
                                            if aula.tipo === 'teorica'
                                                p.w3-text-blue T : #{aula.sala}
                                            else if aula.tipo === 'pratica'
                                                p.w3-text-blue #{aula.turno} : #{aula.sala}
                                    if aulas.length === 0
                                        p -




  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Avaliação
    .w3-card-4.w3-white.w3-hover-shadow.w3-ul.w3-container.w3-padding
      each avaliacao, index in uc.avaliacao
        | #{avaliacao}
        if index !== uc.avaliacao.length - 1
          p

  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Datas Importantes
    .w3-card-4.w3-white.w3-hover-shadow.w3-ul.w3-container.w3-padding
      | Teste: #{uc.datas.teste}
      p
      | Exame: #{uc.datas.exame}
      p
      | Projeto: #{uc.datas.projeto}

  .w3-container.w3-padding-16
    h2.w3-text-deep-purple.w3-center Aulas
    .w3-row-padding
      if uc.aulas.length === 0
        h3.w3-text-red.w3-center Não existem aulas
      else
        each aula in uc.aulas
          .w3-card-4.w3-margin.w3-white.w3-hover-shadow
            .w3-container.w3-padding
              h3.w3-text-blue #{aula.tipo} - #{aula.data}
              ul.w3-ul
                each sumario in aula.sumario
                    - const regexHTTP = /\[(.+?)\]\((http.+?)\)/
                    - const regexLocal = /\[(.+?)\]\(\.\/(.+?)\)/
                    - const newSumarioHTTP = sumario.replace(regexHTTP, '<a href="$2">$1</a>')
                    - const newSumarioLocal = newSumarioHTTP.replace(regexLocal, '<a href="/download/$2">$1</a>')
                    li.w3-padding-small!= newSumarioLocal

  script.
    function deleteUC(id) {
      if (confirm('Tem a certeza que deseja apagar esta UC?')) {
        fetch(`/uc/${id}`, {
          method: 'DELETE'
        }).then(() => {
          window.location.href = '/';
        });
      }
    }
